[submodule "base-4.9.1.0"]
	path = base-4.9.1.0
	url = https://github.com/AntonXue/base-4.9.1.0.git
[submodule "nofib-symbolic"]
	path = nofib-symbolic
	url = https://github.com/BillHallahan/nofib-symbolic.git
[submodule "nofib-buggy-symbolic"]
	path = nofib-buggy-symbolic
	url = https://github.com/BillHallahan/nofib-buggy-symbolic
[submodule "nofib-symbolic-functions"]
	path = nofib-symbolic-functions
	url = https://github.com/abhachaudhary/nofib-symbolic-functions.git
