G2
!src/*
dist
dist-*
cabal-dev
*.o
*.hi
*.cfg
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/
*.swp
.DS_Store
.liquid/
*.mix
dumps
